{% extends 'base.html' %}

{% block head %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
         var socket = io();
         socket.on('connect', function() {
          socket.emit('my event', {data: 'I\'m connected!'});
    });

         var category = "{{ category }}";

        socket.on('updated_items', function(items) {
  var tableBody = document.querySelector('#tasks-table tbody');
  tableBody.innerHTML = '';
  for (var i = 0; i < items.length; i++) {
      console.log(category)
      if (items[i].category === category) {
          var bidderDisplay = items[i].bidder_id === null ? 'none' : items[i].bidder_id;
          var itemName = items[i].name.slice(0, -6);

          var row = '<tr><td>' + itemName + '</td><td>' + items[i].start +
'</td><td>' + items[i].end + '</td><td>' + items[i].current_bid +
'$</td><td>' + bidderDisplay + '</td><td>' +
'<button class="btn btn-outline btn-success my-btn" data-toggle="modal" data-target="#Modal-BidConfirm-' + items[i].id + '">Bid now</button>' +
'<button class="btn btn-outline btn-warning my-btn" data-toggle="modal" data-target="#Modal-CustomBidConfirm-' + items[i].id + '">Custom bid</button>' +
'<button class="btn btn-outline btn-info my-btn" data-toggle="modal" data-target="#Modal-MoreInfo-' + items[i].id + '">' +
'<img src="{{ url_for("static", filename="images/info-svgrepo-com.svg") }}" alt="SendMail" class="buttonIcon">\n' +
'</button>' +
'<a href="/user/' + items[i].seller_id + '" class="btn btn-outline btn-light">' +
'<img src="{{ url_for("static", filename="images/user-search-svgrepo-com.svg") }}" alt="searchUser" class="buttonIcon">\n' +
'</a>' +
'</td></tr>'
          tableBody.innerHTML += row;
          const num = items[i].current_bid * items[i].step;
          const next_bid = num.toFixed(2);
          updateModal(items[i], next_bid);
      }
  }


});
      </script>
{% endblock %}


{% block title %}
Auctions
{% endblock %}
{% block content %}
<div class="position-relative p-3 p-md-5 m-md-3 text-center">

    <div class="btn-group mb-3">
        <button type="button" class="btn btn-outline-primary dropdown-toggle" style="border-radius: 20px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Category
        </button>
        <div class="dropdown-menu" style="max-height: 400px; overflow-y: auto;background-color: #343a40">
            <a class="dropdown-item border-bottom" href="/auctions/Watches">Watches</a>
            <a class="dropdown-item border-bottom" href="/auctions/Books">Books</a>
            <a class="dropdown-item border-bottom" href="/auctions/Accessories">Accessories</a>
            <a class="dropdown-item border-bottom" href="/auctions/Clothes">Clothes</a>
            <a class="dropdown-item border-bottom" href="/auctions/Art">Art</a>
            <a class="dropdown-item border-bottom" href="/auctions/Music">Music</a>
            <a class="dropdown-item border-bottom" href="/auctions/Gifts">Gifts</a>
            <a class="dropdown-item border-bottom" href="/auctions/Others">Others</a>
        </div>
    </div>

    <div class="table-responsive">
        <table id="tasks-table" class="table table-hover table-dark">
            <thead class="table_head">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Current bid</th>
                    <th scope="col">Highest bidder</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% include 'includes/items_modals.html' %}
                <tr>
                    <td>{{ item.name[:-6] }}</td>
                    <td>{{ item.start }}</td>
                    <td>{{ item.end }}</td>
                    <td>{{ item.current_bid }}$</td>
                    <td>{{ item.bidder_id }}</td>
                    <td>
                        <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-BidConfirm-{{ item.id }}">Bid now</button>
                        <button class="btn btn-outline btn-warning" data-toggle="modal" data-target="#Modal-CustomBidConfirm-{{ item.id }}">Custom bid</button>
                        <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">
                             <img src="{{ url_for('static', filename='images/info-svgrepo-com.svg') }}" alt="Info" class="buttonIcon">

                        </button>
                        <a href="{{ url_for('other_user_profile', user_id=item.seller_id) }}" class="btn btn-outline btn-light">
                                <img src="{{ url_for('static', filename='images/user-search-svgrepo-com.svg') }}" alt="searchUser" class="buttonIcon">

                            </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

