{% extends 'base.html' %}
{% block title %}
    Welcome to my Auction
{% endblock %}
{% block content %}
     <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-dark" style="color:white;">
        <div class="container-fluid">
            <div class="row justify-content-center"> <!-- Centering the content horizontally -->
                <div class="col-md-8 text-center align-self-center"> <!-- Centering the content vertically -->
                    <div class="col-md-10 p-lg-5 mx-auto my-5">
                        <h1 class="display-4 font-weight-normal" style="color: #323232">Online Auction</h1>
                        <p class="lead font-weight-normal" style="color: #323232">To participate click the link below</p>
                        <a class="btn btn-primary" style="background-color: #213F99 !important;border-color: #213F99;border-radius: 20px !important;" href="{{ url_for('auction_page') }}">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}