{% extends 'base.html' %}
{% block title %}
Owned items
{% endblock %}
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="table-responsive">
        <table class="table table-hover table-dark">
            <thead class="table_head">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Purchase price</th>
                    <th scope="col">Purchase date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in owned_items %}
                    {% include 'includes/info_modal.html' %}
                    {% include 'includes/review_modal.html' %}
                    <tr>
                        <td>{{ item.name[:-6] }}</td>
                        <td>{{ item.current_bid }}$</td>
                        <td>{{ item.end }}</td>
                        <td>
                            <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">
                                 <img src="{{ url_for('static', filename='images/info-svgrepo-com.svg') }}" alt="Info" class="buttonIcon">
                            </button>
                            <a href="{{ url_for('resell_page', item_id=item.id) }}" class="btn btn-outline btn-success">
                                 <img src="{{ url_for('static', filename='images/sell-svgrepo-com.svg') }}" alt="Sell" class="buttonIcon">
                            </a>
                            <button class="btn btn-outline btn-warning" data-toggle="modal" data-target="#Modal-Review-{{ item.id }}">
                                 <img src="{{ url_for('static', filename='images/review-screen-svgrepo-com.svg') }}" alt="Info" class="buttonIcon">
                            </button>
                            <form method="post" action="{{ url_for('delete_item', item_id=item.id) }}" style="display: inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-outline btn-danger">
                                    <img src="{{ url_for('static', filename='images/delete-button-svgrepo-com.svg') }}" alt="Delete" class="buttonIcon">
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
