<style>
  .modal-content {
    background-color: #212121
  }



</style>

<!-- More Info -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="ModalLabel">
                    {{ item.name[:-6] }}
                </h5>
            </div>
            <div class="modal-body">
                <!-- Enhanced description container -->
                <div class="description-container">
                    {{ item.description }}
                </div>
                <div class="text-center">
                    <img class="modal-image" src="{{ url_for('static', filename='images/' + item.image) }}" alt="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>