<style>
  .modal-content {
    background-color: #212121
  }



</style>

<!-- More Info -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="ModalLabel">
                    {{ item.name[:-6] }}
                </h5>
            </div>
            <div class="modal-body">
                <div>
                    <div id="descriptionCollapse-{{ item.id }}">
                        <p id="shortDescription-{{ item.id }}">{{ item.description[:100] }}...</p> <!-- Show only the first 100 characters -->
                        <p id="fullDescription-{{ item.id }}" class="collapse">{{ item.description }}</p> <!-- Full description -->
                    </div>
                    <a href="#" id="showMoreButton-{{ item.id }}" class="btn btn-link" onclick="toggleDescription('{{ item.id }}')">Show more</a> <!-- Button to show more -->
                </div>
                <div class="text-center mt-3">
                    <img class="modal-image" src="{{ url_for('static', filename='images/' + item.image) }}" alt="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    function toggleDescription(itemId) {
        var shortDescription = document.getElementById('shortDescription-' + itemId);
        var fullDescription = document.getElementById('fullDescription-' + itemId);
        var showMoreButton = document.getElementById('showMoreButton-' + itemId);

        if (shortDescription.classList.contains('collapse')) {
            shortDescription.classList.remove('collapse');
            fullDescription.classList.add('collapse');
            showMoreButton.innerText = 'Show more';
        } else {
            shortDescription.classList.add('collapse');
            fullDescription.classList.remove('collapse');
            showMoreButton.innerText = 'Show less';
        }
    }
</script>