* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.success {
    color: #fff;
    background-color: #00cc00;
    border-color: #00cc00;
}


.fail {
    color: #fff;
    background-color: #D2042D;
    border-color: #D2042D;
}

.info {
    color: #fff;
    background-color: #45b7fe;
    border-color: #45b7fe;


    }

.page_title {
    color: #45b7fe;
    font-weight:bold;
}

.btn-success {
    color:black !important;
    background-color:#00cc00 !important;
    border-color: #00cc00 !important;
    height: 40px; !important;
    width: 120px; !important;
    border-radius: 20px !important;

}

.btn-success:hover {
    color:white !important;
    background-color:#00cc00 !important;
    border-color: #00cc00 !important;
}

.btn-success:focus {
    color:white !important;

}

.btn-danger {
    color:black !important;
    height: 40px; !important;
    width: 120px; !important;
    border-radius: 20px !important;


}

.btn-danger:hover {
    color:white !important;
}

.btn-danger:focus {
    color:white !important;



}

.btn-warning {
    color:black !important;
    background-color: #ece75f !important;
    border-color:  #ece75f !important;
    height: 40px; !important;
    width: 120px; !important;
    border-radius: 20px !important;

}

.btn-warning:hover {
    color:blue !important;
}

.btn-warning:focus {
    color:blue !important;
    border-color: #ece75f !important;

}


.btn-info {
    color:black;
    background-color: #45b7fe !important;
    border-color:  #45b7fe !important;
    height: 40px; !important;
    width: 120px; !important;
    border-radius: 20px !important;
}


.btn-light {
    height: 40px; !important;
    width: 120px; !important;
    border-radius: 20px !important;
    background: blueviolet !important;
    border: blueviolet;

}


.btn-light:hover {
    color:blue !important;
}

.table_head {
    color: #00cc00;
    background-color:#404040;

}

.my-btn {
  margin-right: 5px;
}


.march_blue {
    color: #89cfef;
}

.march_pink {
    color: #162938;
    text-align: center;
    font-size: 2em;

}


.form-control {

    width: 75%;

}

.custom-bid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.border-info {
    border: 3px solid slateblue;
    border-radius: 10px;
    padding: 2px;
    color:white;
    margin-bottom: 15px;
}



.register_form {
         display: flex;
         height: 100%;
         place-items: center;
         background: #89cfef;
         padding-bottom: 50px;
         margin-top: 50px;
         width: 380px;
         border-radius: 5px;
    border: 2px solid rgba(255,255,255,.5);
    justify-content: center;
    align-items: center;
     }

.login_form {

         display: flex;
         height: 100%;
         place-items: center;
         background: #89cfef;
         padding-bottom: 50px;
         margin-top: 150px;
         width: 380px;
         border-radius: 5px;
    border: 2px solid rgba(255,255,255,.5);
    justify-content: center;
    align-items: center;
     }


.create_item_form {
    display: flex;
         height: 100%;
         place-items: center;
         background: #89cfef;
         padding-bottom: 50px;
         margin-top: 50px;
         width: 380px;
         border-radius: 5px;
    border: 2px solid rgba(255,255,255,.5);
    justify-content: center;
    align-items: center;


}


.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.input {
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input:focus~label,
.input:valid~label {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color:#162938;
    font-size: 1.2em;
    line-height: 57px;
}



.btn1 {
    width:100%;
    height: 45px;
    background: #162938;
    outline:none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}




.btn1:hover {
    color:greenyellow !important;
    /*border-color: #ece75f !important;*/

}

.reply_btn {
    width:auto;
    height: 45px;
    background: #162938;
    outline:none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    padding: 3px;


}
.reply_btn:hover {
    color:greenyellow !important;

}

.reply_btn:focus {
    color:greenyellow !important;


}

.delete_mail_btn {
    width:auto;
    height: 45px;
    background: #D2042D;
    outline:none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    border-color: #D2042D;
    padding: 3px;

}
.delete_mail_btn:hover {
     color:greenyellow !important;

    border-color: #D2042D !important;
}

.delete_mail_btn:focus {
    color:greenyellow !important;
    border-color: #D2042D !important;
}

.button-container {
    display: flex;
    gap: 10px;
}





.customfile {
    border: 5px solid #000;
    border-radius: 50px;
    padding: 2px;
    color:black;

}



.customfile::-webkit-file-upload-button {
    background: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 50px;
    cursor: pointer;


}

.btn-bid {
    width:75%;
    height: 45px;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn-custom-bid {
    width:75%;
    height: 45px;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}

.dropdown-item {
    background: #343a40;
    color: #00cc00;
}

.border-bottom {
     border-bottom: 1px solid #00cc00 !important;

}

.text-center {

}

.navbar {
    z-index: 1030;
}

.navbar-nav li.nav-item a.nav-link:focus {
    color: #00cc00;}

.dollar-sign {
    color: forestgreen;
}

.navbar-nav .nav-item a.nav-link-button:hover {
          color: darkblue !important;
          border-bottom: 1px solid darkblue;
}
.money {
    font-weight: bold;
      }

.nav-link {
         color: #1D1D1D !important;
      }

.navbar {
    height: 60px;
    padding: 10px 10px;

}

.navbar-brand {
    color: #323232 !important;
}






.mail {
    background: #89cfef;
    padding: 20px;

    border-radius: 5px;
    border: 2px solid rgba(255,255,255,.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}




.mail h2 {
    color: #333;
    margin-bottom: 10px;
}

.mail p {
    margin: 0;
    color:  #333;
}

.mail p strong {
    color: #333;
}

.mail-padding {
    padding:25px;
}

.Mailbox{
    text-align:center;
    font-family: Arial, sans-serif;
    color: #00cc00;
}


.info-line {
    display: flex;
    justify-content: space-between;
}
.info-line p {
    margin-right: 20px;
}

.from {
    margin-right: auto;
}

.button-container {
    display: flex;
    justify-content: center;
}


.custom-modal {
    background-color: #212121;
}

.description-container {
    border: 2px solid #00cc00;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.modal-image {
    max-width: 100%;
    height: auto;
}

.subject_underline {
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.btn-primary:hover {
    color: lime; !important;
}

.alert {
    border-radius: 0;

}

.buttonIcon {
        filter: invert(0);
        transition: filter 0.3s ease;
        width: 20px; height: 20px;
    }
.btn:hover .buttonIcon {
        filter: invert(1);
    }



.mail {
    background: #89cfef;
    padding: 20px;

    border-radius: 5px;
    border: 2px solid rgba(255,255,255,.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}




.profile-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        text-align: center;
    background: #89cfef;
    border-radius: 0px;
    border: 2px solid rgba(255,255,255,.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 20px;

    }

    .info-item {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

    .username {
    grid-column: span 2;
    font-size: 2.5vw;
    font-weight: bold;
    color: black;
}

    .email, .phone{
        font-size: 1.5vw;
        color: black;
        font-weight: bold;
    }

    .positive {
        font-size: 1.5vw;
        color: black;
        background: #00cc00;
        font-weight: bold;
    }

    .negative {
        font-size: 1.5vw;
        color: white;
        background: #D2042D;
        font-weight: bold;
    }

    .reviews {
        grid-column: span 2;
        margin-top: 20px;
        color:black;
    }

    .user_review {
    background: #89cfef;
    padding: 20px;

    border-radius: 5px;
    border: 2px solid rgba(255,255,255,.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

    .user_review.positive{
        background-color: #00cc00;
    }

    .user_review.negative{
        background-color: #D2042D;
    }


@media (max-width: 1023.98px) {
    .navbar-nav .nav-item {
        background-color: #DDD0C8;
        border-bottom: 1px solid #444;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navbar-nav .nav-link {
        color: #fff;
        text-align: center;
        width: 100%;
    }

    .navbar .dropdown-menu {
        width: 100%;
        right: 0;
        left: 0;
    }

    .navbar-nav .nav-item .money,
    .navbar-nav .nav-item .nav-link {
        text-align: center;
        width: 100%;
    }

    .login_form,
    .register_form,
    .create_item_form,
    .mobileOnly {
        display: flex;
        height: 100%;
        place-items: center;
        background: #89cfef;
        padding-bottom: 50px;
        margin-top: 45px;
        margin-bottom: 45px;
        width: 95%;
        border-radius: 5px;
        border: 2px solid rgba(255, 255, 255, .5);
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-info,
    .btn-success,
    .btn-warning {
        margin-bottom: 4px;
    }

    .mobileH1 {
        font-size: 10vw;
    }

    .mail {
        background: #89cfef;
        padding: 5px;
        border-radius: 5px;
        border: 2px solid rgba(255, 255, 255, .5);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
    }

    .info-line {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    .info-line .from,
    .info-line .date {
        margin: 5px 0;
    }

    .user-message {
        margin-bottom: 5px;
    }

        .info-item {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; /* Add margin between items */
}

    .username {
    grid-column: span 2;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

    .email, .phone{
        font-size: 10px;
        color: black;
    }

    .positive {
        font-size: 10px;
        color: black;
        background: #00cc00;
    }

    .negative {
        font-size: 10px;
        color: white;
        background: #D2042D;
    }

    .reviews {
        grid-column: span 2;
        margin-top: 20px;
        color:black;
    }

    .user_review {
    background: #89cfef;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}


@media (max-width: 768px) {
    .profile-details {
        flex-direction: column;
    }

    .detail-left, .detail-right {
        flex: none;
        width: 100%;
    }
}

}

